page-profile {


    ion-item.btnItem{
        background: none;
        text-align: center;
        button{
            display: inline-block;
            vertical-align: middle;
            margin: 0px 5px;
            font-size: 16px;
            color: #fff;
            border-color: #dedede;
        }      
    }
    ion-item.cmrItem{
        align-content: center;
    }
}
